
/*+ form styles
-------------------------------*/

.form_block .webform-client-form .form-submit, .button {
  display: inline-block;
  padding: 17px 25px 14px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all linear 0.2s;
  font-size: 1rem;
  font-weight: 100;
  line-height: normal;
  width: 100%;
  @extend .bbox;

  font-family: $font-stack3;
}

.form_block .webform-client-form .form-submit:active, .button:active {
  opacity: .5;
}

.form_block .webform-client-form .form-submit, .pink.filled {
  background: #d70f5e;
  color: #fff;
}

.form_block .webform-client-form .form-submit:hover {
  background: #c90d58;
  text-decoration: none;
}

.form_block {
  .messages.error {
    display: none;
  }
  form {
    width: 88%;
    margin: 0 auto;

    .form-actions {
      @extend .bbox;
    }
    .form-item {
      input, select {
        @extend .bbox;
        width: 100%;

        border-radius: 6px;
        background: white;
        padding: 15px;

        text-align: center;

        border: none;
        &.error {
          background: #ffdfdf;
        }
      }
      @extend .bbox;
    }
  }
}