/*+ main styles
-------------------------------*/

html {
  font-family: $font-stack;
  color: $primary-color;
  font-size: $fontsize;
}

body {
  margin: 0;
  min-width: 1200px;
}


h1, h2, h3, h4, h5 {
    color: $primary-color;
}

h1 {font-size: 42px;}
h2 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 22px;}

h1.bg_y {
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 50px;
  font-size: 33px;
  display: inline-block;
  background: #f0c142;
}

a {
  color: $primary-color;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.p2em {
  p {
    margin-bottom: 2em;
  }
}

.fz14 {
  font-size: 14px;
}

.fz20 {
  font-size: 20px;
}

.fz21 {
  font-size: 21px;
}

.fz25 {
  font-size: 25px;
}

.fz30 {
  font-size: 30px;
}

.fz33 {
  font-size: 33px;
}

.fz63 {
  font-size: 63px;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.w05 {
  width: 50%;
}

.w052 {
  width: 52%;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 1px;
}

.res, .bbox {
  box-sizing: border-box;
}

.res, .res2, .res3 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.res2 {
  width: 940px;
}

.res3 {
  width: 900px;
}

ul.clr {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-j {
  text-align: justify;
}

.tt-u {
  text-transform: uppercase;
}

.tt-n {
  text-transform: none;
}

.va-m {
  vertical-align: middle;
}

.va-t {
  vertical-align: top;
}

.va-b {
  vertical-align: bottom;
}

.va-bl {
  vertical-align: baseline;
}

.mb {
  margin-bottom: 70px;
}

.pr {
  position: relative;
}

html .p_list .list .w_hidden {
  display: none;
}