.bx_rewrite {

	.bx-wrapper .bx-pager {
		bottom: 75px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		border-radius: 50%;
		border: 2px solid black;
		background: transparent;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		border-color: black;
		background: black;
	}

	&.s1 {
		.bx-wrapper .bx-pager.bx-default-pager a {
			border: 2px solid white;
			background: transparent;
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover,
		.bx-wrapper .bx-pager.bx-default-pager a.active {
			border-color: white;
			background: white;
		}
	}

	&.s2 {
		.bx-wrapper .bx-viewport {
			background: none;
		}

		.bx-wrapper img {
			display: inline-block;
		}
	}

	&.s3 {
		.bx-wrapper .bx-pager {
			bottom: -30px;
		}
		.bx-wrapper .bx-viewport {
			background: none;
		}
	}
}