.bx_rewrite .bx-wrapper .bx-pager {
  bottom: 75px;
}

.bx_rewrite .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 50%;
  border: 2px solid black;
  background: transparent;
}

.bx_rewrite .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx_rewrite .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: black;
  background: black;
}

.bx_rewrite.s1 .bx-wrapper .bx-pager.bx-default-pager a {
  border: 2px solid white;
  background: transparent;
}

.bx_rewrite.s1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx_rewrite.s1 .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: white;
  background: white;
}

.bx_rewrite.s2 .bx-wrapper .bx-viewport {
  background: none;
}

.bx_rewrite.s2 .bx-wrapper img {
  display: inline-block;
}

.bx_rewrite.s3 .bx-wrapper .bx-pager {
  bottom: -30px;
}

.bx_rewrite.s3 .bx-wrapper .bx-viewport {
  background: none;
}

/*# sourceMappingURL=bx_rewrite.css.map */
