@font-face {
  font-family: 'Circe-Bold';
  src: url('converted/Circe-Bold.eot');
  src: url('converted/Circe-Bold.woff') format('woff'),
       url('converted/Circe-Bold.svg#Circe-Bold') format('svg'),
       url('converted/Circe-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-ExtraLight';
  src: url('converted/Circe-ExtraLight.eot');
  src: url('converted/Circe-ExtraLight.woff') format('woff'),
       url('converted/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg'),
       url('converted/Circe-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url('converted/Circe-Light.eot');
  src: url('converted/Circe-Light.woff') format('woff'),
       url('converted/Circe-Light.svg#Circe-Light') format('svg'),
       url('converted/Circe-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
 

 @font-face {
  font-family: 'Circe-Regular';
  src: url('converted/Circe-Regular.eot');
  src: url('converted/Circe-Regular.woff') format('woff'),
       url('converted/Circe-Regular.svg#Circe-Regular') format('svg'),
       url('converted/Circe-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('converted/Circe-ExtraBold.eot');
  src: url('converted/Circe-ExtraBold.woff') format('woff'),
       url('converted/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg'),
       url('converted/Circe-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.cb {
  font-family: 'Circe-Bold';
}

.cel {
  font-family: 'Circe-ExtraLight';
}

.cl {
  font-family: 'Circe-Light';
}

.cr {
  font-family: 'Circe-Regular';
}

.ceb {
  font-family: 'Circe-ExtraBold';
}