/*+ footer styles
-------------------------------*/
.footer {
  background: $primary-color;
  padding: 45px 0;

  .items-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  color: $third-color;

  a {
    color: $third-color;
  }

  .logo {
    width: 97px;
    img {
      max-width: 100%;
    }
  }

  .address {
    width: 245px;
    div {
      margin-bottom: 7px;
    }
    .num {
      font-size: 24px;
    }
  }

  .doc_info,
  .cap_info {
    width: 210px;
  }

  .doc_info {
    div {
      margin-bottom: 10px;
    }
  }

  .count {
    margin-top: 15px;
    margin-bottom: 15px;

    display: inline-block;
    padding: 5px 10px;

    border: 2px solid #f0c142;

    font-size: 30px;
  }

  .icons {
    font-size: 0;
    & > div {
      font-size: $fontsize;
    }
    .item {
      display: inline-block;
      width: 33px;
      height: 33px;

      margin-right: 19px;

      &.vk {
        background: url("images/social_icons.png") 0 0 no-repeat;
      }
      &.fb {
        background: url("images/social_icons-02.png") 0 0 no-repeat;
      }
      &.tw {
        background: url("images/social_icons-03.png") 0 0 no-repeat;
      }
      &.ytb {
        background: url("images/social_icons-04.png") 0 0 no-repeat;
      }
    }
  }
}

/*- footer styles
-------------------------------*/