/*+ header styles
-------------------------------*/
.navbar {
  background: $primary-color;
  .text_page & {
    margin-bottom: 70px;
  }

  a {
    color: $third-color;
  }
  
  .navbar-brand,
  .navbar-collapse {
    @extend .va-m;
    display: inline-block;
  }

  .navbar-brand {
    margin-left: -37px;
    width: 37px;
    img {
      max-width: 100%;
    }
  }

  .navbar-collapse {
    width: 100%;
    margin-right: -37px;
    padding-top: 31px;
    text-align: center;
    font-size: 0;
    ul {
      @extend .clr;
      li {
        display: inline-block;
        padding: 0 14px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          @extend .cel;
          display: inline-block;
          padding-bottom: 2px;
          border-bottom: 4px solid transparent;

          font-size: 21px;

          text-decoration: none;

          &:hover,
          &.active {
            border-bottom-color: #f0c142;
          }
        }
      }
    }
  }
}

.navbar2 {
  margin-bottom: 40px;
  ul {
    @extend .clr;
    padding-top: 13px;
    text-align: left;
    font-size: 0;
    li {
      font-size: $fontsize;
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        @extend .cel;
        display: inline-block;
        border-bottom: 4px solid transparent;

        font-size: 15px;
        color: $primary-color;
        text-decoration: none;
        &:hover,
        &.active {
          border-bottom-color: #f0c142;
        }
      }
    }
  }
}

/*- header styles
-------------------------------*/